*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
/cookbooks
berks-cookbooks/
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*

# results of chefspec
cookbook_rspec_results.xml

# generated README.md
README.html
